<div class="hotel-list-wrp">
    <div class="hotel-list-drp-dwn">
        <div class="hotel-lst africa-region">
            <span class="region-map bg"></span>
            <h3 class="region-blk-title">Africa</h3>
            <div class="counrty-hotels-wrp flt-clr">
                <div class="hotels-col flt-clr">
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">KENYA</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/serenanairobi/default-en.html" target="_blank">NAIROBI SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenabeachhotel/default-en.html" target="_blank">Serena Beach Resort &amp; SPA</a><br><a href="https://www.serenahotels.com/serenasweetwaters/default-en.html" target="_blank">SWEETWATERS SERENA CAMP</a><br><a href="https://www.serenahotels.com/serenaelmenteita/default-en.html" target="_blank">LAKE ELMENTEITA SERENA CAMP</a><br><a href="https://www.serenahotels.com/serenamara/default-en.html" target="_blank">MARA SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenaamboseli/default-en.html" target="_blank">AMBOSELI SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenakilaguni/default-en.html" target="_blank">KILAGUNI SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenamountainlodge/default-en.html" target="_blank">SERENA MOUNTAIN LODGE</a><br><a href="https://www.serenahotels.com/serenaolpejeta/default-en.html" target="_blank">OL PEJETA HOUSE</a>
					</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">RWANDA</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/serenakigali/default-en.html" target="_blank">KIGALI SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenalakekivu/default-en.html" target="_blank">LAKE KIVU SERENA HOTEL</a>
					</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">UGANDA</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/serenakampala/default-en.html" target="_blank">KAMPALA SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenalakevictoria/default-en.html" target="_blank">LAKE VICTORIA SERENA GOLF RESORT &amp; SPA</a>
					</span>
                    </div>
                </div>
                <div class="hotels-col flt-clr">
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">TANZANIA</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/serenadaressalaam/default-en.html" target="_blank">DAR ES SALAAM SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenazanzibar/default-en.html" target="_blank">ZANZIBAR SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenaarusha/default-en.html" target="_blank">ARUSHA SERENA HOTEL, RESORT &amp; SPA</a><br><a href="https://www.serenahotels.com/serenambuzi/default-en.html" target="_blank">MBUZI MAWE SERENA CAMP</a><br><a href="https://www.serenahotels.com/serenakirawira/default-en.html" target="_blank">KIRAWIRA SERENA CAMP</a><br><a href="https://www.serenahotels.com/serenaselous/default-en.html" target="_blank">SELOUS SERENA CAMP</a><br><a href="https://www.serenahotels.com/serenangorongoro/default-en.html" target="_blank">NGORONGORO SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenaserengeti/default-en.html" target="_blank">SERENGETI SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenalakemanyara/default-en.html" target="_blank">LAKE MANYARA SERENA SAFARI LODGE</a><br><a href="https://www.serenahotels.com/serenamivumo/default-en.html" target="_blank">SERENA MIVUMO RIVER LODGE</a>
					</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">MOZAMBIQUE</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/serenapolana/default-en.html" target="_blank">POLANA SERENA HOTEL</a>
					</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">DEMOCRATIC REPUBLIC OF CONGO (DRC)</h4>
                        <span class="hotels-links">
						<a href="https://www.serenahotels.com/gomaserena/default-en.html" target="_blank">GOMA SERENA HOTEL, NORTH KIVU</a>
					</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotel-lst asia-region">
            <span class="region-map bg"></span>
            <h3 class="region-blk-title">Asia</h3>
            <div class="counrty-hotels-wrp flt-clr">
                <div class="hotels-col flt-clr">
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">AFGHANISTAN</h4>
                        <span class="hotels-links">
					<a href="https://www.serenahotels.com/serenakabul/default-en.html" target="_blank">KABUL SERENA HOTEL</a>
				</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">PAKISTAN</h4>
                        <span class="hotels-links">
					<a href="https://www.serenahotels.com/serenaislamabad/default-en.html" target="_blank">ISLAMABAD SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenafaisalabad/default-en.html" target="_blank">FAISALABAD SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenaquetta/default-en.html" target="_blank">QUETTA SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenaswat/default-en.html" target="_blank">SWAT SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenagilgit/default-en.html" target="_blank">GILGIT SERENA HOTEL</a><br><a href="https://www.serenahotels.com/serenahunza/default-en.html" target="_blank">HUNZA SERENA INN</a><br><a href="https://www.serenahotels.com/serenashigarf/default-en.html" target="_blank">SERENA SHIGAR FORT (HERITAGE HOTEL)&nbsp;</a><br><a href="https://www.serenahotels.com/serenakhaplupalace/default-en.html" target="_blank">SERENA KHAPLU PALACE (HERITAGE HOTEL)</a>
				</span>
                    </div>
                    <div class="country-hotels">
                        <h4 class="country-hotels-title">TAJIKISTAN</h4>
                        <span class="hotels-links">
					<a href="https://www.serenahotels.com/serenadushanbe/default-en.html" target="_blank">Dushanbe Serena Hotel</a><br><a href="https://www.serenahotels.com/serenakhorog/default-en.html" target="_blank">Khorog Serena Inn</a>
				</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
