.hotel-list-wrp {
    top: 79px;
}

.hotel-list-wrp {
    background: #fff;
    box-shadow: 0 4px 5px -3px #333;
    height: 0;
    left: 0;
    position: absolute;
    top: 87px;
    width: 100%;
    z-index: 1000;
}

.hotel-list-drp-dwn {

    width: 935px;

}
.hotel-list-drp-dwn {
    height: 100%;
    margin: 0 auto;
    width: 1160px;
    position: relative;

}

.hotel-lst.africa-region {

    width: 565px;

}
.hotel-lst.africa-region {

    float: left;
    height: 100%;
    width: 700px;
    position: relative;
    box-sizing: border-box;

}

.region-map {

    background-position: 25px -440px;
    background-size: 630px auto;
    height: 330px;
    left: 118px;
    top: 106px;

}

.region-blk-title::after {

    background: #f6871f;
    bottom: -10px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 22px;

}

.flt-clr::after, .instafeed::after {

    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}

.counrty-hotels-wrp {

    margin-left: 100px;
    margin-top: 30px;

}
.counrty-hotels-wrp {

    margin-left: 140px;
    margin-top: 70px;
    position: relative;
    z-index: 1;

}

.hotels-col {

    width: 230px;

}
.hotels-col {

    float: left;

}

.country-hotels {

    width: 245px;

}
.country-hotels {

    float: left;
    margin: 1px 0 19px;
}

.flt-clr::after, .instafeed::after {

    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}

.hotel-lst.asia-region {

    margin: 0 0 0 72px;
    width: 255px;

}
.hotel-lst.asia-region {

    float: left;
    height: 100%;
    margin: 0 0 0 20px;
    width: 430px;
    position: relative;
    box-sizing: border-box;

}

.hotel-lst.asia-region .region-map {

    background-position: 4px -110px;
    height: 330px;
    left: -50px;
    width: 360px;

}