/*!==============================
 * Theme Name: Atlantis
 * Theme URL: https://probootstrap.com/atlantis-hotel-free-html5-template-using-bootstrap-framework
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.85;
  background: #ffffff;
  color: #7e8890;
  color: #221b1d;
}

header {
    position: fixed; /* Set the navbar to fixed position */
    top: 30px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

section.probootstrap-slider {
    margin-top:70px;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Oswald",Helvetica,sans-serif;
  color: #000000;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.807em;
}

p, ul, ol, figure {
  margin-bottom: 1.3em;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #2A120A;
}

a:hover, a:focus, a:active {
  color: black;
  text-decoration: none;
}

a.hover-reverse {
  color: #000000;
}

a.hover-reverse:hover, a.hover-reverse:focus, a.hover-reverse:active {
  color: #2A120A;
  text-decoration: none;
}

.probootstrap-header {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 4;
  top: 0;
  background: rgb(251, 242, 225);
}

.probootstrap-logo {
  float: left;
  color: #000000;
  padding-left: 15px;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.probootstrap-logo:hover, .probootstrap-logo:focus, .probootstrap-logo:active {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .probootstrap-logo {
    padding-left: 25px;
  }
}

.probootstrap-logo-center {
  text-transform: uppercase;
  position: relative;
  top: -7px;
}

.probootstrap-logo-center a {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  color: #000000;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 992px) {
  .probootstrap-logo-center a {
    margin-left: 0;
    margin-right: 0;
  }
}

.probootstrap-nav {
  margin-left: 0px;
  text-align: center;
  float: none;
}

.probootstrap-mobile-menu-active .probootstrap-nav {
  text-align: left;
  position: fixed;
  display: block !important;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 0;
  z-index: 1100;
  height: 100vh;
  width: 300px;
  background: #000000;
  padding: 40px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text {
  display: block;
  float: left;
  clear: both;
  margin-top: 30px;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons {
  padding: 0;
  margin: 0 0 20px 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
  margin: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li a {
  color: #ffffff;
  padding: 10px;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li:first-child a {
  padding-left: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-mobile-menu-active.show .probootstrap-nav {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.probootstrap-main-nav {
  margin: 0;
  padding: 0;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav {
  float: left;
  margin-top: 40px;
  width: 100%;
  color: rgb(246, 135, 31);
}

.menu-item-separator {
    color: rgb(246, 135, 31);
    margin-left:10px;
    font-size: 1.3em;
}

.probootstrap-main-nav li {
  margin: 0;
  padding: 0 1px;
  list-style: none;
  display: inline;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  margin-bottom: 10px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.probootstrap-main-nav li a {
  text-transform: uppercase;
  padding: 0px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: #2A120A;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  margin-bottom: 10px;
  padding: 5px 0;
  display: block;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
  font-family: "pt_sansregular", Helvetica, sans-serif;
}

.probootstrap-main-nav li a:hover, 
.probootstrap-main-nav li.active a {
  /*color: #2A120A;*/
  border-bottom:solid 4px rgb(246, 135, 31);
  padding-bottom:25px;
  color: rgb(246, 135, 31);
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  border-bottom: none !important;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a:hover {
  color: #ffffff;
}

.probootstrap-main-nav li.probootstrap-cta {
  margin-left: 20px;
}

.probootstrap-main-nav li.probootstrap-cta a {
  border: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
}

.probootstrap-main-nav li.probootstrap-cta a:hover {
  background: #ffffff;
  color: #2A120A;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta {
  margin-left: 0px;
  margin-top: 20px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.probootstrap-main-nav li.active a {
  color: #2A120A;
}

.probootstrap-main-nav li.active a:hover {
  color: #000000;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.active a {
  border-bottom: none !important;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  display: block;
}

.probootstrap-header-social {
  position: absolute;
  top: 34px;
  right: 60px;
}

.probootstrap-header-social li {
  display: inline;
  list-style: none;
  margin-left: 5px;
}

.probootstrap-header-social li a {
  color: #ffffff;
}

.mobile-menu-overlay {
  z-index: 1099;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-mobile-menu-active.show .mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}

.probootstrap-intro {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro {
    background-position: center center;
  }
}

.probootstrap-intro.probootstrap-intro-inner {
  height: 500px;
}

.probootstrap-intro .probootstrap-scroll-down {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .9s all ease-out;
  transition: .9s all ease-out;
  bottom: 20px;
  color: #ffffff;
  opacity: 1;
  visibility: visible;
}

.probootstrap-intro .probootstrap-scroll-down.probootstrap-sleep {
  bottom: -50px;
  opacity: 0;
  visibility: hidden;
}

.probootstrap-intro .probootstrap-intro-text {
  margin-top: 300px;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro .probootstrap-intro-text {
    height: inherit !important;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.probootstrap-intro.probootstrap-intro-inner .probootstrap-intro-text {
  margin-top: 190px;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro.probootstrap-intro-inner .probootstrap-intro-text {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .probootstrap-intro {
    height: inherit !important;
    padding-top: 7em;
    padding-bottom: 7em;
  }
}

.probootstrap-intro:before {
  z-index: 1;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #ddf0f3;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ddf0f3), color-stop(100%, #2A120A));
  background: -webkit-gradient(linear, left top, right top, from(#ddf0f3), to(#2A120A));
  background: linear-gradient(to right, #ddf0f3 0%, #2A120A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
  opacity: .8;
}

.probootstrap-intro > .container-fluid, .probootstrap-intro > .container {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro {
    padding: 7em 0 7em 0;
  }
}

.probootstrap-intro h1 {
  font-size: 120px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 900;
  line-height: 100px;
  margin-bottom: 0;
}

.probootstrap-intro h1 span {
  font-weight: 300;
  display: block;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

.probootstrap-intro .probootstrap-subtitle {
  max-width: 700px;
}

.probootstrap-intro .probootstrap-subtitle h2 {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  font-family: "Crimson Text", serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

.probootstrap-intro .probootstrap-subtitle h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #2A120A;
}

.probootstrap-intro .probootstrap-subtitle h2 a {
  color: black;
}

.probootstrap-intro .probootstrap-subtitle h2 a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-intro.probootstrap-intro-inner h1 {
  font-size: 100px;
  line-height: 100px;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro.probootstrap-intro-inner h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

.probootstrap-intro.probootstrap-intro-inner h2 {
  font-size: 30px;
}

.probootstrap-watch-intro {
  font-size: 23px;
  font-weight: 300;
}

.probootstrap-watch-intro a i {
  position: relative;
  top: 2px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-watch-intro a:hover i {
  margin-left: 20px;
}

.probootstrap-burger-menu {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.probootstrap-burger-menu i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  color: #000000;
  font: bold 14px/.4 Helvetica, arial;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before, .probootstrap-burger-menu i::after {
  content: '';
  width: 18px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before {
  top: -7px;
}

.probootstrap-burger-menu i::after {
  bottom: -7px;
}

.probootstrap-burger-menu:hover i::before {
  top: -10px;
}

.probootstrap-burger-menu:hover i::after {
  bottom: -10px;
}

.probootstrap-burger-menu.active i {
  background: transparent;
}

.probootstrap-burger-menu.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.probootstrap-burger-menu.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i {
  color: #ffffff;
  background: #ffffff;
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i:before, .probootstrap-mobile-menu-active.show .probootstrap-burger-menu i:after {
  background: #ffffff;
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu.active i {
  background: transparent;
}

.probootstrap-burger-menu {
  position: absolute;
  top: 26px;
  right: 20px;
}

.btn {
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn:active {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-primary {
  border: 2px solid #fff;
  background: rgb(246, 135, 31);
  color: #ffffff;
  font-size: 1.4em;
  height: 35px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #ffffff;
  color: rgb(246, 135, 31);
  border: 2px solid rgb(246, 135, 31);
}
.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 2px solid #6b265a;
}

.btn.btn-ghost {
  background: transparent;
  border: 2px solid #2A120A;
  color: #2A120A;
}

.btn.btn-ghost:hover {
  background: #2A120A;
  color: #ffffff;
  border: 2px solid #2A120A;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #2A120A;
  border: 2px solid #2A120A;
}

.btn.btn-ghost.btn-ghost-white {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.btn-ghost.btn-ghost-white:hover {
  background: #ffffff;
  color: #2A120A;
}

.btn.btn-ghost.btn-ghost-white:focus, .btn.btn-ghost.btn-ghost-white:active {
  outline: none;
  background: #ffffff;
  color: #2A120A;
  border: 2px solid #ffffff;
}

.btn.btn-black {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:focus, .btn.btn-black:active {
  outline: none;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.probootstrap-section {
  padding: 1em 0;
  position: relative;
  z-index: 2;
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-dark {
  background: #2A120A;
  background: #ddf0f3;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ddf0f3), color-stop(100%, #2A120A));
  background: -webkit-gradient(linear, left top, right top, from(#ddf0f3), to(#2A120A));
  background: linear-gradient(to right, #ddf0f3 0%, #2A120A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.probootstrap-section.probootstrap-section-colored .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p, .probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-dark p {
  color: white;
}

.probootstrap-section.probootstrap-section-dark {
  background: whitesmoke;
  color: black;
}

.probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: black;
}

.probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(0, 0, 0, 0.6);
}

.probootstrap-section.probootstrap-section-dark p {
  color: rgba(0, 0, 0, 0.6);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-section .heading-with-icon {
  color: #2A120A;
  font-size: 24px;
}

.probootstrap-section .heading-with-icon i {
  color: #2A120A;
}

.probootstrap-section-heading h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-heading h2 {
    font-size: 30px;
  }
}

.probootstrap-cta {
  padding: 2em 0;
}

.probootstrap-cta.probootstrap-light {
  background: whitesmoke;
}

.probootstrap-cta .probootstrap-cta-heading {
  font-size: 24px;
  margin-top: 10px;
  float: left;
  width: 80%;
  margin-bottom: 0;
}

.probootstrap-cta .probootstrap-cta-heading span {
  font-size: 16px;
}

.probootstrap-cta .probootstrap-cta-button-wrap {
  width: 20%;
  float: right;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-cta .probootstrap-cta-heading {
    margin-bottom: 30px;
  }
  .probootstrap-cta .probootstrap-cta-heading,
  .probootstrap-cta .probootstrap-cta-button-wrap {
    width: 100%;
    text-align: left;
  }
}

.probootstrap-relative {
  position: relative;
}

.probootstrap-owl-navigation {
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation.absolute {
  position: absolute;
  top: 2px;
}

@media screen and (max-width: 768px) {
  .probootstrap-owl-navigation.absolute {
    position: relative;
    margin-bottom: 40px;
  }
}

.probootstrap-owl-navigation.absolute.right {
  right: 15px;
}

@media screen and (max-width: 768px) {
  .probootstrap-owl-navigation.absolute.right {
    margin-left: 15px;
  }
}

.probootstrap-owl-navigation.absolute.left {
  left: 0;
}

.probootstrap-owl-navigation li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation li a {
  font-size: 20px;
  padding: 7px;
  background: #e6e5e5;
  color: #807f7f;
  border-radius: 4px;
}

.probootstrap-owl-navigation li a i {
  position: relative;
  top: 1px;
}

.probootstrap-owl-navigation li a:hover {
  background: #2A120A;
  color: #ffffff;
}

.probootstrap-room {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  margin-bottom: 30px;
}

.probootstrap-room h3 {
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.probootstrap-room p {
  color: #7a7a7a;
}

.probootstrap-room p strong {
  color: #000000;
  font-weight: 400;
}

.probootstrap-room p:last-child {
  margin-bottom: 0;
}

.probootstrap-room .text {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-top: none;
}

.probootstrap-room.fade {
  opacity: .4;
}

.probootstrap-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.probootstrap-half .image, .probootstrap-half .text {
  width: 50%;
}

.probootstrap-half .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .image {
    height: 300px;
    width: 100%;
  }
}

.probootstrap-half .text {
  padding: 100px;
  background: #2A120A;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .text {
    width: 100%;
    padding: 30px 15px;
    float: left;
  }
}

.probootstrap-half .text h2 {
  color: #ffffff;
}

.probootstrap-half .text p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

.section-heading h2 {
  font-size: 2.074em;
  font-weight: 300;
}

.lead, p {
  font-family: 'PT Sans', Helvetica, 'pt_sansregular', sans-serif;
}
.lead, p {
  font-size: 1em;
  color: #404040;
  line-height: 1.65;
}

.probootstrap-footer {
  padding: 3em 0 3em 0;
  position: relative;
  font-family: Helvetica, 'pt_sansregular', sans-serif;
  font-weight: normal;
  font-size:12px;
}

.probootstrap-footer .probootstrap-backtotop {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.probootstrap-footer .probootstrap-backtotop a {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background: #ffffff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border-bottom: none !important;
}

.probootstrap-footer .probootstrap-backtotop a:hover, .probootstrap-footer .probootstrap-backtotop a:focus, .probootstrap-footer .probootstrap-backtotop a:active {
  color: #2A120A !important;
}

.probootstrap-footer .border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  .probootstrap-footer {
    padding: 3em 0;
  }
}

.probootstrap-footer .probootstrap-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-footer .probootstrap-footer-widget h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.probootstrap-footer .probootstrap-footer-link {
  padding: 0;
  margin: 0;
}

.probootstrap-footer .probootstrap-footer-link.float {
  float: left;
  margin-right: 40px;
}

@media screen and (max-width: 992px) {
  .probootstrap-footer .probootstrap-footer-link.float {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-footer .probootstrap-footer-link.float {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}

.probootstrap-footer .probootstrap-footer-link li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.probootstrap-footer .probootstrap-back-to-top {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer .probootstrap-back-to-top {
    text-align: left;
    margin-top: 30px;
  }
}

.probootstrap-hover-overlay {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: .7s all ease-out;
  transition: .7s all ease-out;
  margin-bottom: 30px;
}

.probootstrap-hover-overlay img {
  position: relative;
  z-index: 1;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-hover-overlay:before {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.probootstrap-hover-overlay .probootstrap-text-overlay {
  position: absolute;
  z-index: 20;
  left: 20px;
  top: 20px;
  -webkit-transition: .4s all ease-out;
  transition: .4s all ease-out;
  opacity: 0;
  visibility: hidden;
}

.probootstrap-hover-overlay .probootstrap-text-overlay h3 {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p:last-child {
  margin-bottom: 0;
}

.probootstrap-hover-overlay:hover:before {
  opacity: 1;
  visibility: visible;
}

.probootstrap-hover-overlay:hover .probootstrap-text-overlay {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.probootstrap-hover-overlay:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.probootstrap-block-image-text {
  background: #ffffff;
  margin-bottom: 30px;
}

.probootstrap-block-image-text figure {
  margin-bottom: 0;
  position: relative;
}

.probootstrap-block-image-text figure img {
  max-width: 100%;
  margin-bottom: 0;
}

.probootstrap-block-image-text .actions {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.probootstrap-block-image-text .actions a {
  color: white;
  margin-right: 10px;
}

.probootstrap-block-image-text .text {
  padding: 20px;
}

.probootstrap-block-image-text .text h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
}

.probootstrap-block-image-text .text h3 a {
  color: #000000;
}

.probootstrap-block-image-text .text h3 a:hover {
  color: #2A120A;
}

.probootstrap-block-image-text .text p.dark {
  color: #999999;
}

.probootstrap-block-image-text .text p:last-child {
  margin-bottom: 0;
}

.post-meta {
  font-size: 12px;
  text-transform: uppercase;
  color: #b3b2b2;
}

.post-meta ul {
  padding: 0;
  margin: 0 0 0 0;
}

.post-meta ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.post-meta .review-rate {
  border-radius: 4px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 10px;
  padding: 2px 3px;
  line-height: 1;
  background: #000000;
  color: #ffffff;
}

.probootstrap-blog-list, .probootstrap-news-list, .probootstrap-product-list {
  padding: 0;
  margin: 0;
}

.probootstrap-blog-list li, .probootstrap-news-list li, .probootstrap-product-list li {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}

.probootstrap-blog-list li a, .probootstrap-news-list li a, .probootstrap-product-list li a {
  color: #000000;
  display: table;
}

.probootstrap-blog-list li a .probootstrap-image, .probootstrap-blog-list li a .probootstrap-text, .probootstrap-news-list li a .probootstrap-image, .probootstrap-news-list li a .probootstrap-text, .probootstrap-product-list li a .probootstrap-image, .probootstrap-product-list li a .probootstrap-text {
  display: table-cell;
  vertical-align: top;
}

.probootstrap-blog-list li a p, .probootstrap-news-list li a p, .probootstrap-product-list li a p {
  color: #7e8890;
  line-height: 1.4;
}

.probootstrap-blog-list li a .probootstrap-image, .probootstrap-news-list li a .probootstrap-image, .probootstrap-product-list li a .probootstrap-image {
  width: 80px;
}

.probootstrap-blog-list li a .probootstrap-image img, .probootstrap-news-list li a .probootstrap-image img, .probootstrap-product-list li a .probootstrap-image img {
  border-radius: 2px;
}

.probootstrap-blog-list li a .probootstrap-text, .probootstrap-news-list li a .probootstrap-text, .probootstrap-product-list li a .probootstrap-text {
  padding-left: 20px;
}

.probootstrap-blog-list li a .probootstrap-text .meta, .probootstrap-news-list li a .probootstrap-text .meta, .probootstrap-product-list li a .probootstrap-text .meta {
  display: block;
  color: #cccccc;
}

.probootstrap-blog-list li a .probootstrap-text h4, .probootstrap-news-list li a .probootstrap-text h4, .probootstrap-product-list li a .probootstrap-text h4 {
  font-size: 20px;
  margin: 0 0 0 0;
  color: #000000;
}

.probootstrap-blog-list li a:hover h4, .probootstrap-news-list li a:hover h4, .probootstrap-product-list li a:hover h4 {
  color: #2A120A;
}

.link-with-icon {
  color: #2A120A;
}

.link-with-icon i {
  position: relative;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
  left: -20px;
}

.link-with-icon:hover, .link-with-icon:focus {
  color: #6b265a;
}

.link-with-icon:hover i, .link-with-icon:focus i {
  position: relative;
  top: 2px;
  left: 0px;
  opacity: 1;
  visibility: visible;
}

.link-with-icon.white {
  color: #ffffff;
}

.link-with-icon.white:hover {
  color: #ffffff;
}

.probootstrap-footer-social {
  padding: 0;
  margin: 0;
}

.probootstrap-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.probootstrap-footer-social li:first-child > a {
  padding-left: 0;
}

.nav-tabs.probootstrap-center, .nav-pills.probootstrap-center {
  text-align: center;
}

.nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
  border-radius: 0px;
  padding: 20px 30px;
  background: #2A120A;
  color: #ffffff;
  font-size: 16px;
  border: none !important;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a:hover, .nav-pills.probootstrap-tabs > li > a:hover {
  background: #7d2d69;
}

.nav-tabs.probootstrap-tabs > li > a:active, .nav-tabs.probootstrap-tabs > li > a:focus, .nav-pills.probootstrap-tabs > li > a:active, .nav-pills.probootstrap-tabs > li > a:focus {
  outline: none;
}

.nav-tabs.probootstrap-tabs > li.active > a, .nav-pills.probootstrap-tabs > li.active > a {
  background: #ffffff;
  color: #000000;
}

.nav-tabs.probootstrap-tabs.no-border, .nav-pills.probootstrap-tabs.no-border {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-section {
    padding-bottom: 0 !important;
  }
}

.probootstrap-tab-style-1 {
  position: absolute;
  bottom: 1px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-style-1 {
    position: relative;
  }
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.service .icon {
  display: block;
  margin-bottom: 30px;
}

.service .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  color: #2A120A;
}

.service h3 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0;
}

.service p {
  font-size: 15px;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 0px;
}

.service.left-icon .icon img {
  max-width: 100%;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .icon .svg {
  fill: #2A120A;
}

.service.left-icon .text {
  display: table-cell;
  padding-left: 30px;
}

.service.left-icon h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.left-icon.left-icon-sm .icon {
  width: 60px;
}

.service.left-icon.left-icon-sm .text {
  padding-left: 0px;
}

.service.hover_service {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service.hover_service:hover, .service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.probootstrap-form {
  margin-bottom: 50px;
}

.probootstrap-form.probootstrap-form-box {
  background: #ffffff;
  padding: 60px;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .probootstrap-form.probootstrap-form-box {
    padding: 20px;
  }
}

.probootstrap-form .form-note-link {
  font-weight: 400;
}

.probootstrap-form .form-note-link a {
  color: #bfbfbf;
}

.probootstrap-form .form-note-link a:hover, .probootstrap-form .form-note-link a:active, .probootstrap-form .form-note-link a:focus {
  color: #404040;
}

.probootstrap-form label {
  font-weight: normal;
}

.probootstrap-form .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #e6e5e5;
  background: #fafafa;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #2A120A;
  background: #ffffff;
}

.probootstrap-form .form-group .form-field {
  position: relative;
}

.probootstrap-form .form-group .form-field .icon {
  position: absolute;
  top: 15px;
  right: 20px;
}

.probootstrap-form .form-group .form-field .form-control {
  padding-right: 50px;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-contact-info, .with-icon {
  padding: 0;
  margin: 0 0 30px 0;
}

.probootstrap-contact-info li, .with-icon li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
  display: table;
}

.probootstrap-contact-info li > i, .probootstrap-contact-info li > span, .with-icon li > i, .with-icon li > span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-contact-info li > i, .with-icon li > i {
  font-size: 20px;
  position: relative;
  top: 4px;
  width: 30px;
}

.with-icon li i {
  top: 4px;
  font-size: 15px;
}

.with-icon.colored i {
  color: #2A120A;
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider .slides > li {
  height: 500px;/* Sam Editted */
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .slider-height, .flexslider, .flexslider .slides > li {
    height: inherit;
    height: 450px;
  }
}

.lead, p {
  ffont-size: 20px;
}

.flexslider {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.flexslider .seperator {
  max-width: auto;
  width: auto !important;
  margin: 0 auto;
}

.flexslider .probootstrap-heading {
  color: #ffffff;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
}

.flexslider .probootstrap-sub-wrap {
  max-width: 700px;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

.flexslider .text-center .probootstrap-sub-wrap {
  margin: 0 auto;
  text-align: center;
}

.flexslider .probootstrap-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider.probootstrap-inner {
  height: 500px;
}

.flexslider.probootstrap-inner .probootstrap-slider-text {
  margin-top: 150px;
}

@media screen and (max-width: 480px) {
  .flexslider.probootstrap-inner .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 30px;
}

.flexslider .flex-direction-nav a:hover, .flexslider .flex-direction-nav a:active, .flexslider .flex-direction-nav a:focus {
  outline: none;
}

.flexslider .flex-direction-nav a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 50px;
}

.flex-direction-nav .flex-next {
  right: 50px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 60px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 60px;
}

.flex-control-paging li a {
  width: 7px;
  height: 7px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.probootstrap-testimonial:before {
  background: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-testimonial .section-heading p {
  color: rgba(255, 255, 255, 0.9) !important;
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot.active span, .probootstrap-testimonial .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #ffffff;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.probootstrap-gutter10 > div[class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter10 > div[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.probootstrap-black-color {
  color: #000000 !important;
}

.probootstrap-white-color {
  color: #ffffff !important;
}

.probootstrap-primary-color {
  color: #2A120A !important;
}

.probootstrap-secondary-color {
  color: #ddf0f3 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

h1, h2, h3, h4, h5 {
  color:#2A120A;
}

footer, footer h1, footer h2, footer h3, footer h4, footer h5 {
  background: #f6871f;
  color:white;
}

footer .mt40 {
  background: white;
  color:#555;
}


ul.probootstrap-main-nav li.destinations ul,
ul.probootstrap-main-nav li ul.dropdown {
    position:absolute;
    left:0;
    top:15px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:2000ms ease;
    -moz-transition:2000ms ease;
    -o-transition:2000ms ease;
    transition:2000ms ease;
}

ul.probootstrap-main-nav > li:hover ul {
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
}

.reward-points {
  min-height: 170px;
}

.smo-icon a i {
  color:white;
  font-size:1.5em;
  padding: 0 5px;
  transition: 1.2s;
}

.smo-icon a i:hover {
  color:black;
  opacity: 1;
}

.subscribe-dropdown {
    background-position: -523px -16px;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    cursor: pointer;
}

.subscribe-block {
    background-color: #e57f1f;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 43px;
    margin: 26px 0 0;
    width: 100%;
    position: relative;
}

.subscribe-btn {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px 5px 0 11px;
}

.subscribe-btn-lst {
    background-color: #e57f1f;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    height: 0;
    min-width: 115px;
    position: absolute;
    right: -1px;
    top: 41px;
    overflow: hidden;
    font-family: "Oswald",Helvetica,sans-serif;
    font-size: 1.2em;
}

.subscribe-btn-lst.active {
    height: 75px;
    padding-top: 6px;
}

.subscribe-block {
    background-color: #e57f1f;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 43px;
    margin: 26px 0 0;
    width: 100%;
    position: relative;
}

#email-address {
    background-color: transparent;
    border-style: none;
    box-sizing: border-box;
    height: 100%;
    padding-left: 15px;
    width: 100%;
}